In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import os

In [2]:
API_Data = pd.read_excel(r'C:\Users\p.jeevith\Documents\API_19_DS2_en_csv_v2_5340933\API_19_DS2_en_csv_v2_5340933.xlsx')

In [9]:
def choose_data(filename):
    path=r"C:\Users\p.jeevith\Documents\API_19_DS2_en_csv_v2_5340933"
    API_Data = pd.read_excel(path + "/" + filename)
    API_Data_Archive = API_Data.copy()
    API_Data1 = API_Data[3:]
    API_Data1.columns = API_Data1.iloc[0]
    API_Data = API_Data1[1:]
    
    
    API_Data2 = pd.melt(API_Data, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
                        var_name="Year", value_name="Value")
    
    Clean_Data = cleaning(API_Data2)
    API_Data2 = Clean_Data.copy()
    
    Country_As_Columns = API_Data2.pivot(index = ['Indicator Name', 'Indicator Code', 'Year'], columns = 'Country Name', 
                                      values = 'Value').reset_index()
    
    Date_As_Columns = API_Data2.pivot(index = ['Country Name', 'Country Code', 'Indicator Name'], columns = 'Year', 
                                      values = 'Value').reset_index()
    return Date_As_Columns , Country_As_Columns

In [13]:
def cleaning(data):
    columns = data.columns
    country_list = data['Country Name'].unique()
    Indicator_list = data['Indicator Name'].unique()
    
    data=data.sort_values(['Country Name','Indicator Name'])
    Clean_Data = pd.DataFrame()
    
    for i in Indicator_list:
        data_i = data[(data['Indicator Name']==i)]
        data_i['Value'] = data_i['Value'].fillna(data_i['Value'].mean())

    Clean_Data = Clean_Data.append(data_i)
    
    return Clean_Data

In [14]:
Date_As_Columns , Country_As_Columns = choose_data('API_19_DS2_en_csv_v2_5340933.xlsx')

C:\Users\p.jeevith\AppData\Local\Temp\ipykernel_20584\1353765134.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_i['Value'] = data_i['Value'].fillna(data_i['Value'].mean())
C:\Users\p.jeevith\AppData\Local\Temp\ipykernel_20584\1353765134.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  Clean_Data = Clean_Data.append(data_i)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)
C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\algorithms.py:798: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  uniques = Index(uniques)

In [15]:
Date_As_Columns

Year,Country Name,Country Code,Indicator Name,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,...,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0
0,Afghanistan,AFG,Agricultural land (sq. km),1.944595e+06,3.770000e+05,3.776000e+05,3.781000e+05,3.787300e+05,378750.00,3.791300e+05,...,3.791000e+05,3.791000e+05,3.791000e+05,3.791000e+05,3.791000e+05,3.791000e+05,3.801000e+05,3.801000e+05,3.835600e+05,1.944595e+06
1,Africa Eastern and Southern,AFE,Agricultural land (sq. km),1.944595e+06,6.170422e+06,6.168162e+06,6.173452e+06,6.170802e+06,6168292.20,6.172092e+06,...,6.441140e+06,6.461236e+06,6.483469e+06,6.498088e+06,6.517235e+06,6.538553e+06,6.556857e+06,6.560797e+06,6.568777e+06,1.944595e+06
2,Africa Western and Central,AFW,Agricultural land (sq. km),1.944595e+06,2.980464e+06,2.990979e+06,3.014148e+06,3.025740e+06,3049810.30,3.048154e+06,...,3.552415e+06,3.572750e+06,3.574968e+06,3.577363e+06,3.586105e+06,3.589797e+06,3.591825e+06,3.593421e+06,3.595031e+06,1.944595e+06
3,Albania,ALB,Agricultural land (sq. km),1.944595e+06,1.232000e+04,1.232000e+04,1.233000e+04,1.230000e+04,12370.00,1.240000e+04,...,1.201300e+04,1.187300e+04,1.174290e+04,1.174300e+04,1.181700e+04,1.174281e+04,1.174081e+04,1.174000e+04,1.165555e+04,1.944595e+06
4,Algeria,DZA,Agricultural land (sq. km),1.944595e+06,4.547100e+05,4.490000e+05,4.451000e+05,4.416400e+05,441670.00,4.416700e+05,...,4.139819e+05,4.143163e+05,4.143100e+05,4.145640e+05,4.136020e+05,4.133514e+05,4.135885e+05,4.135885e+05,4.135885e+05,1.944595e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,West Bank and Gaza,PSE,Agricultural land (sq. km),1.944595e+06,4.790000e+03,4.790000e+03,4.790000e+03,4.790000e+03,4790.00,4.800000e+03,...,4.007700e+03,4.146200e+03,4.318000e+03,4.307200e+03,4.348000e+03,4.442000e+03,4.443000e+03,4.449000e+03,4.449000e+03,1.944595e+06
262,World,WLD,Agricultural land (sq. km),1.944595e+06,4.479065e+07,4.487494e+07,4.498372e+07,4.507936e+07,45203082.83,4.528608e+07,...,4.760917e+07,4.751613e+07,4.750640e+07,4.726030e+07,4.723239e+07,4.759404e+07,4.744101e+07,4.745733e+07,4.738893e+07,1.944595e+06
263,"Yemen, Rep.",YEM,Agricultural land (sq. km),1.944595e+06,2.333700e+05,2.334800e+05,2.336000e+05,2.337000e+05,233800.00,2.339100e+05,...,2.350100e+05,2.349900e+05,2.345160e+05,2.343260e+05,2.338580e+05,2.345200e+05,2.345200e+05,2.345200e+05,2.345200e+05,1.944595e+06
264,Zambia,ZMB,Agricultural land (sq. km),1.944595e+06,1.930700e+05,1.936000e+05,1.940400e+05,1.945900e+05,195130.00,1.960700e+05,...,2.383600e+05,2.373600e+05,2.383600e+05,2.383600e+05,2.383600e+05,2.383600e+05,2.383600e+05,2.383600e+05,2.383600e+05,1.944595e+06
265,Zimbabwe,ZWE,Agricultural land (sq. km),1.944595e+06,1.098500e+05,1.107000e+05,1.115500e+05,1.124000e+05,113050.00,1.141000e+05,...,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.620000e+05,1.944595e+06

In [ ]:
Date_As_Columns.describe()

In [ ]:
Country_As_Columns.describe()

In [ ]:
Urban_pop = Date_As_Columns[(Date_As_Columns['Indicator Name']=='Urban population growth (annual %)')&(Date_As_Columns['Country Name']=='India')]
Urban_pop.describe()

In [ ]:
Dates_Country_choosen = Date_As_Columns[(Date_As_Columns['Country Name']=='India')|(Date_As_Columns['Country Name']=='Australia')
                |(Date_As_Columns['Country Name']=='Japan')|(Date_As_Columns['Country Code']=='USA')
                |(Date_As_Columns['Country Name']=='United Kingdom')|(Date_As_Columns['Country Name']=='Germany')
                |(Date_As_Columns['Country Name']=='China')|(Date_As_Columns['Country Name']=='Brazil')]

In [ ]:
API_Data2 = pd.melt(Dates_Country_choosen, id_vars=['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code'], 
                        var_name="Year", value_name="Value")

In [ ]:
API_Data3 = API_Data2[API_Data2['Indicator Name']=='CO2 emissions (kt)']

In [ ]:
API_Data2['Indicator Name'].unique()

In [ ]:
API_Data3

In [ ]:

Country_Name = API_Data3['Country Name'].unique()
for i in Country_Name:
#     plt.figure(figsize=(17,6))
    country_i = API_Data3[API_Data3['Country Name']==i].sort_values('Year')
    plt.plot(country_i['Year'], country_i['Value'], label=i)
    plt.legend()
    plt.plot()

In [ ]:
API_Data4 = API_Data2[API_Data2['Indicator Name']=='Electric power consumption (kWh per capita)']
Country_Name = API_Data4['Country Name'].unique()
for i in Country_Name:
#     plt.figure(figsize=(17,6))
    country_i = API_Data4[API_Data4['Country Name']==i].sort_values('Year')
    plt.plot(country_i['Year'], country_i['Value'], label=i)
    plt.title('electricity consumption')
    plt.legend()
    plt.plot()

In [ ]:
API_Data4 = API_Data2[API_Data2['Indicator Name']=='Population, total']
Country_Name = API_Data4['Country Name'].unique()
for i in Country_Name:
#     plt.figure(figsize=(17,6))
    country_i = API_Data4[API_Data4['Country Name']==i].sort_values('Year')
    plt.plot(country_i['Year'], country_i['Value'], label=i)
    plt.title('population total')
    plt.legend()
    plt.plot()

In [ ]:
API_Data2

In [ ]:
API_Data5 = API_Data2[(API_Data2['Indicator Name']=='Renewable energy consumption (% of total final energy consumption)')&
                      ((API_Data2['Country Code']=='USA')|(API_Data2['Country Name']=='China'))]
Country_Name = API_Data5['Country Name'].unique()
for i in Country_Name:
#     plt.figure(figsize=(17,6))
    country_i = API_Data5[API_Data5['Country Name']==i].sort_values('Year')
    plt.plot(country_i['Year'], country_i['Value'], label=i)
    plt.title('renewable energy %')
    plt.legend()
    plt.plot()

In [ ]:
API_Data6 = API_Data2[(API_Data2['Indicator Name']=='Renewable energy consumption (% of total final energy consumption)')|
         (API_Data2['Indicator Name']=='Electric power consumption (kWh per capita)')|
         (API_Data2['Indicator Name']=='Population, total')|
         (API_Data2['Indicator Name']=='CO2 emissions (kt)')|
         (API_Data2['Indicator Name']=='Total greenhouse gas emissions (kt of CO2 equivalent)')]

In [ ]:
pivotdata = API_Data6.pivot(index = ['Country Name', 'Year', 'Country Code'], columns = 'Indicator Name', 
                                      values = 'Value').reset_index()

In [ ]:
data = pivotdata[(pivotdata['Country Name']=='China')|(pivotdata['Country Code']=='USA')]
corr = data.corr()
heat = sns.heatmap(corr)
heat